<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error 404</h1>
        <h2>Ocorreu um erro na sua solicitação tente novamente ou contate o administrador do sistema</h2>
    </hgroup>
</body>
</html>
