@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Arquitetura DDD</h1>
    <p class="lead">Arquitetura baseada nos princípios básicos de desenvolvimento utilizando Domain Driven Design</p>
    <p><a href="http://varcalsys.com.br" class="btn btn-primary btn-lg" target="blank">Saiba mais &raquo;</a></p>
</div>
